In [1]:
import pandas as pd

In [67]:
# initialize list of lists
data = [['tom', 30.33, 4.33],['tom', 40.33, 4.33]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'lat', 'lng'])

 
# print dataframe.
df

  Name    lat   lng
0  tom  30.33  4.33
1  tom  40.33  4.33

In [68]:
test_df.dtypes

A    int64
B    int64
dtype: object

In [73]:
start = tuple(df[["lat", "lng"]].to_numpy()[0])

In [74]:
start

(30.33, 4.33)

AttributeError: 'tuple' object has no attribute 'dtypes'