In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import Google_Map_API_KEY

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2022-02-03 02:36:21,-21.3585,55.7679,78.39,93,100,36.15
1,1,Cobija,BO,2022-02-03 02:36:21,-11.0267,-68.7692,71.67,99,96,2.17
2,2,Dubrovnik,HR,2022-02-03 02:36:22,42.6481,18.0922,46.04,39,0,11.50
3,3,Qaanaaq,GL,2022-02-03 02:36:22,77.4840,-69.3632,-10.59,81,100,6.80
4,4,Farafangana,MG,2022-02-03 02:36:23,-22.8167,47.8333,73.40,81,30,6.46
5,5,Busselton,AU,2022-02-03 02:36:23,-33.6500,115.3333,83.80,33,84,10.67
6,6,Marsh Harbour,BS,2022-02-03 02:35:29,26.5412,-77.0636,71.08,71,57,20.94
7,7,Kasongo-Lunda,CD,2022-02-03 02:36:24,-6.4667,16.8167,69.22,98,100,1.23
8,8,Codrington,AU,2022-02-03 02:36:24,-38.2667,141.9667,62.78,58,99,17.02
9,9,Homer,US,2022-02-03 02:31:38,59.6425,-151.5483,31.77,83,0,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=Google_Map_API_KEY)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# # Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 Â°F, 
# # then you will get an InvalidWeightException error for this line of code:

# # so we need to remove the temp in negative
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2022-02-03 02:36:21,-21.3585,55.7679,78.39,93,100,36.15
5,5,Busselton,AU,2022-02-03 02:36:23,-33.6500,115.3333,83.80,33,84,10.67
11,11,Kapaa,US,2022-02-03 02:36:25,22.0752,-159.3190,78.78,68,0,1.99
14,14,Ilhabela,BR,2022-02-03 02:36:26,-23.7781,-45.3581,75.04,90,100,5.35
19,19,Saint-Joseph,RE,2022-02-03 02:36:29,-21.3667,55.6167,77.38,92,100,34.25
21,21,Rikitea,PF,2022-02-03 02:32:54,-23.1203,-134.9692,78.35,75,69,9.93
25,25,Butaritari,KI,2022-02-03 02:36:31,3.0707,172.7902,81.61,78,100,15.64
28,28,Bathsheba,BB,2022-02-03 02:36:32,13.2167,-59.5167,77.61,78,40,19.57
29,29,Cantapoy,PH,2022-02-03 02:36:33,9.4906,125.4364,82.90,66,81,8.08
37,37,Georgetown,MY,2022-02-03 02:34:43,5.4112,100.3354,85.93,85,20,3.00

In [25]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Saint-Philippe      RE     78.39 -21.3585   55.7679
5        Busselton      AU     83.80 -33.6500  115.3333
11           Kapaa      US     78.78  22.0752 -159.3190
14        Ilhabela      BR     75.04 -23.7781  -45.3581
19    Saint-Joseph      RE     77.38 -21.3667   55.6167
21         Rikitea      PF     78.35 -23.1203 -134.9692
25      Butaritari      KI     81.61   3.0707  172.7902
28       Bathsheba      BB     77.61  13.2167  -59.5167
29        Cantapoy      PH     82.90   9.4906  125.4364
37      Georgetown      MY     85.93   5.4112  100.3354

In [29]:
# Use the search term: "lodging" and our latitude and longitude.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# no hotel found in near 5000 meter, so change to 10000 to see

# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": Google_Map_API_KEY
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,78.39,-21.3585,55.7679,p'ti case d'Ã©lÃ©na
5,Busselton,AU,83.80,-33.6500,115.3333,Observatory Guest House
11,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Ilhabela,BR,75.04,-23.7781,-45.3581,Ilha Flat Hotel
19,Saint-Joseph,RE,77.38,-21.3667,55.6167,La BohÃ¨me
21,Rikitea,PF,78.35,-23.1203,-134.9692,People ThankYou
25,Butaritari,KI,81.61,3.0707,172.7902,Isles Sunset Lodge
28,Bathsheba,BB,77.61,13.2167,-59.5167,Atlantis Hotel
29,Cantapoy,PH,82.90,9.4906,125.4364,Brgy Pili Mountain View
37,Georgetown,MY,85.93,5.4112,100.3354,Cititel Penang

In [50]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [48]:
hotel_df.dtypes

City           object
Country        object
Max Temp      float64
Lat           float64
Lng           float64
Hotel Name     object
dtype: object

In [57]:
check_value = hotel_df.iloc[99,5]
check_value

''

AttributeError: 'str' object has no attribute 'dtypes'

In [83]:
notfound_df = hotel_df.loc[hotel_df["Hotel Name"] == '']
notfound_df

             City Country  Max Temp      Lat       Lng Hotel Name
105  Barra Patuca      HN     76.51  15.8000  -84.2833
266           Edd      ER     79.30  13.9297   41.6925
377      Bosobolo      CD     77.38   4.1833   19.9000
460          Sapa      PH     82.89   5.1544  120.3241
480        Bonfim      BR     79.74   3.0833  -59.9500

In [92]:
checkvalue = notfound_df.iloc[0,5]
checkvalue

''

In [91]:
notfound_df = notfound_df.drop(notfound_df["Hotel Name"] == '')
notfound_df

KeyError: '[ True  True  True  True  True] not found in axis'

In [86]:
notfound_df

             City Country  Max Temp      Lat       Lng Hotel Name
105  Barra Patuca      HN     76.51  15.8000  -84.2833
266           Edd      ER     79.30  13.9297   41.6925
377      Bosobolo      CD     77.38   4.1833   19.9000
460          Sapa      PH     82.89   5.1544  120.3241
480        Bonfim      BR     79.74   3.0833  -59.9500

In [77]:
import numpy as np

In [79]:
notfound_df.loc[notfound_df["Hotel Name"] == '',['Hotel Name']] = np.nan

C:\Users\xzhan\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [80]:
notfound_df

             City Country  Max Temp      Lat       Lng Hotel Name
105  Barra Patuca      HN     76.51  15.8000  -84.2833        NaN
266           Edd      ER     79.30  13.9297   41.6925        NaN
377      Bosobolo      CD     77.38   4.1833   19.9000        NaN
460          Sapa      PH     82.89   5.1544  120.3241        NaN
480        Bonfim      BR     79.74   3.0833  -59.9500        NaN

In [119]:
notfound_df = notfound_df.dropna()
notfound_df

             City Country  Max Temp      Lat       Lng Hotel Name
105  Barra Patuca      HN     76.51  15.8000  -84.2833
266           Edd      ER     79.30  13.9297   41.6925
377      Bosobolo      CD     77.38   4.1833   19.9000
460          Sapa      PH     82.89   5.1544  120.3241
480        Bonfim      BR     79.74   3.0833  -59.9500

In [123]:
test2_df = hotel_df
test2_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,78.39,-21.3585,55.7679,p'ti case d'Ã©lÃ©na
5,Busselton,AU,83.80,-33.6500,115.3333,Observatory Guest House
11,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Ilhabela,BR,75.04,-23.7781,-45.3581,Ilha Flat Hotel
19,Saint-Joseph,RE,77.38,-21.3667,55.6167,La BohÃ¨me
21,Rikitea,PF,78.35,-23.1203,-134.9692,People ThankYou
25,Butaritari,KI,81.61,3.0707,172.7902,Isles Sunset Lodge
28,Bathsheba,BB,77.61,13.2167,-59.5167,Atlantis Hotel
29,Cantapoy,PH,82.90,9.4906,125.4364,Brgy Pili Mountain View
37,Georgetown,MY,85.93,5.4112,100.3354,Cititel Penang

In [105]:
hotel_df.dtypes

City           object
Country        object
Max Temp      float64
Lat           float64
Lng           float64
Hotel Name     object
dtype: object

In [108]:
test2_df.dtypes

City           object
Country        object
Max Temp      float64
Lat           float64
Lng           float64
Hotel Name     object
dtype: object

In [129]:
test2_df.count()

City          149
Country       149
Max Temp      149
Lat           149
Lng           149
Hotel Name    149
dtype: int64

In [130]:
test2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 0 to 574
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        149 non-null    object
 1   Country     149 non-null    object
 2   Max Temp    149 non-null    float64
 3   Lat         149 non-null    float64
 4   Lng         149 non-null    float64
 5   Hotel Name  149 non-null    object
dtypes: float64(3), object(3)
memory usage: 12.5+ KB

In [127]:
notfound2_df = hotel_df.loc[hotel_df["Hotel Name"] == '']
notfound2_df

Empty DataFrame
Columns: [City, Country, Max Temp, Lat, Lng, Hotel Name]
Index: []

In [128]:
notfound4_df = hotel_df.loc[hotel_df["Hotel Name"] == '']
notfound4_df

Empty DataFrame
Columns: [City, Country, Max Temp, Lat, Lng, Hotel Name]
Index: []

In [124]:
notfound3_df = test2_df.loc[test2_df["Hotel Name"] == '']
notfound3_df

Empty DataFrame
Columns: [City, Country, Max Temp, Lat, Lng, Hotel Name]
Index: []

In [125]:
notfound3_df

Empty DataFrame
Columns: [City, Country, Max Temp, Lat, Lng, Hotel Name]
Index: []

In [ ]:
test2_df = test2_df.loc[test2_df["Hotel Name"] == ''] = np.nan

In [97]:
test2_df = test2_df.loc[test2_df["Hotel Name"] == '', ["Hotel Name"]] = np.nan
test2_df

AttributeError: 'float' object has no attribute 'loc'

In [42]:
filename = "test/hotel_df.csv"
hotel_df.to_csv(filename, index_label="City_ID")

In [38]:
# # Add a heatmap of temperature for the vacation spots.
# locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
#              max_intensity=300, point_radius=4)

# fig.add_layer(heat_layer)
# # Call the figure to plot the data.
# fig

# # Add a heatmap of temperature for the vacation spots and marker for each city.
# locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
#              dissipating=False, max_intensity=300, point_radius=4)
# marker_layer = gmaps.marker_layer(locations)
# fig.add_layer(heat_layer)
# fig.add_layer(marker_layer)
# # Call the figure to plot the data.
# fig

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))